---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Multipage-a.">
  <span class="font-myfont">hola mundo</span>
  <div class="h-[1200px]">
    texto largo con scroll
  </div>
</Layout>

