---
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-blue-400 ml-52 container w-[1500px]">
    <div class="h-10 bg-blue-600">
      preheader
    </div>
    <header class="sticky top-0 h-20 bg-orange-400">header</header>
    <menu class="flex bg-slate-400">
      <li>
        <a href="/" class="block hover:bg-white/30 px-4">Inicio</a>
      </li>
      <li>
        <a href="/quienes-somos" class="block hover:bg-white/30 px-4">Quienes somos</a>
      </li>
      <li class="group">
        <a href="/organigrama" class=" block hover:bg-white/30 px-4">Organigrama</a>
        <div class="group-hover:block hidden">
          <a href="/organigrama/biografia" class=" px-4  hover:bg-white/30">biografía</a>
        </div>
      </li>
      <li>
        <a href="/contacto" class="block hover:bg-white/30 px-4">Contacto</a>
      </li>
    </menu>
    
    <slot />
	</body>
</html>

<style is:global>
  @font-face {
  font-family: 'myfont';
  src: url('/fonts/BebasNeue-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</style>
